Repository wireapp/wire-web-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{json,md,scss,yml}": ["prettier --write"]
}

sodium does not support it
  packages/proteus/tsconfig.build.json
Due: prettier --write

import start
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

chore: Set up dependabot
  .github/dependabot.yml
Due: prettier --write

prettier
  packages/cryptobox/src/Cryptobox.test.ts
  packages/proteus/src/util/ArrayUtil.ts
  packages/proteus/src/util/KeyDerivationUtil.test.ts
Due: eslint --fix

chore: Auto-merge workflow for dependency updates
  .github/auto-merge.yml
  .github/workflows/merge-dependencies.yml
Due: prettier --write

linter
  .github/auto-merge.yml
  .github/workflows/merge-dependencies.yml
Due: prettier --write

lint
  .github/auto-merge.yml
  .github/workflows/merge-dependencies.yml
Due: prettier --write

Update merge-dependencies.yml
  .github/workflows/merge-dependencies.yml
Due: prettier --write

chore: Auto-merge workflow for dependency updates (#43)
  .github/auto-merge.yml
  .github/workflows/merge-dependencies.yml
Due: prettier --write

chore(cryptobox): Add browser development setup
  packages/cryptobox/package.json
  packages/cryptobox/test/index.ts
  packages/cryptobox/webpack.config.dev.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: Remove prettier-ignore
  packages/cbor/README.md
  packages/proteus/src/derived/DerivedSecrets.test.ts
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/message/Message.test.ts
  packages/proteus/src/util/ArrayUtil.test.ts
Due: eslint --fix, prettier --write

refactor: Remove prettier-ignore (#44)
  packages/cbor/README.md
  packages/proteus/src/derived/DerivedSecrets.test.ts
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/message/Message.test.ts
  packages/proteus/src/util/ArrayUtil.test.ts
Due: eslint --fix, prettier --write

import json in tests
  packages/cryptobox/src/test/index.ts
  packages/cryptobox/test/fixtures/qa-break-session/cryptobox.json
  packages/cryptobox/test/fixtures/qa-break-session/event.json
Due: eslint --fix, prettier --write

import json in tests
  packages/cryptobox/src/Cryptobox.test.node.ts
  packages/cryptobox/src/Cryptobox.test.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.test.node.ts
Due: eslint --fix

add example
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.dev.ts
Due: eslint --fix

fix config import
  packages/cryptobox/webpack.config.dev.ts
Due: eslint --fix

chore(cryptobox): Add browser development setup (#46)
  packages/cryptobox/package.json
  packages/cryptobox/src/Cryptobox.test.node.ts
  packages/cryptobox/src/Cryptobox.test.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.test.node.ts
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/test/fixtures/qa-break-session/cryptobox.json
  packages/cryptobox/test/fixtures/qa-break-session/event.json
  packages/cryptobox/webpack.config.dev.ts
  yarn.lock
Due: eslint --fix, prettier --write

add comlink
  packages/cryptobox/package.json
  packages/cryptobox/src/CryptoboxWorker.ts
  packages/cryptobox/src/PublicCryptobox.ts
  yarn.lock
Due: eslint --fix, prettier --write

Use cryptobox from web worker
  packages/cryptobox/src/test/start.ts
Due: eslint --fix

first demo
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.webworker.ts
  yarn.lock
Due: eslint --fix, prettier --write

simplify api
  packages/cryptobox/src/Cryptobox.ts
  packages/cryptobox/src/CryptoboxWorker.ts
  packages/cryptobox/src/PublicCryptobox.ts
Due: eslint --fix

fix tests
  packages/cryptobox/src/Cryptobox.test.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
Due: eslint --fix

feat(cryptobox): Use Cryptobox from web worker in browsers (#55)
  packages/cryptobox/package.json
  packages/cryptobox/src/Cryptobox.test.ts
  packages/cryptobox/src/Cryptobox.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
  packages/cryptobox/src/CryptoboxWorker.ts
  packages/cryptobox/src/PublicCryptobox.ts
  packages/cryptobox/webpack.config.webworker.ts
  yarn.lock
Due: eslint --fix, prettier --write

test(cryptobox): Fix Node.js tests
  packages/cryptobox/src/Cryptobox.test.node.ts
Due: eslint --fix

feat(cryptobox): Run in Node.js worker thread
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
Due: eslint --fix, prettier --write

chore: Update yarn lockfile
  yarn.lock
Due: none

chore: Checkout repository before detecting semver range
  .github/workflows/merge-dependencies.yml
Due: prettier --write

yarn start:node runs now
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/src/worker.mjs
  packages/cryptobox/tsconfig.json
Due: eslint --fix, prettier --write

chore: Update yarn.lock
  yarn.lock
Due: none

top-level await
  packages/cryptobox/babel.config.json
  packages/cryptobox/package.json
  packages/cryptobox/src/CryptoboxWorker.ts
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.webworker.js
  packages/cryptobox/webpack.config.webworker.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor(cryptobox): Use web worker target
  packages/cryptobox/webpack.config.webworker.ts
Due: eslint --fix

test(cryptobox): Check private identity
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
Due: eslint --fix

refactor(cryptobox): Use ESM
  packages/cryptobox/babel.config.json
  packages/cryptobox/package.json
  packages/cryptobox/src/CryptoboxWorker.ts
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.dev.js
  packages/cryptobox/webpack.config.js
  packages/cryptobox/webpack.config.webworker.js
  packages/cryptobox/webpack.config.webworker.ts
Due: eslint --fix, prettier --write

refactor(cryptobox): Use CommonJS to run tests
  packages/cryptobox/karma.conf.ts
  packages/cryptobox/package.json
  packages/cryptobox/src/CryptoboxWorker.ts
  packages/cryptobox/webpack.config.js
  tsconfig.build.json
Due: eslint --fix, prettier --write

refactor(cryptobox): Use CommonJS to run tests
  packages/cryptobox/tsconfig.json
  tsconfig.build.json
Due: prettier --write

chore: Publish [skip ci]
  packages/cbor/CHANGELOG.md
  packages/cbor/package.json
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
  packages/proteus/CHANGELOG.md
  packages/proteus/package.json
Due: prettier --write

feat(cryptobox-worker): Expose Cryptobox Web Worker
  packages/cryptobox-worker/.gitignore
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxWorker.js
  packages/cryptobox-worker/src/startNode.js
Due: eslint --fix, prettier --write

feat(cryptobox-worker): Expose Cryptobox Web Worker
  packages/cryptobox-worker/.gitignore
Due: none

Update packages/cryptobox-worker/src/CryptoboxWorker.js
  packages/cryptobox-worker/src/CryptoboxWorker.js
Due: eslint --fix

fix check
  packages/cryptobox-worker/src/CryptoboxWorker.js
Due: eslint --fix
