Repository wireapp/wire-web-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(core): Add testing standards identifiers (SQPIT-738)
  packages/proteus/src/message/Envelope.test.ts
Due: eslint --fix

chore(core): Add testing standards identifiers (SQPIT-738)
  packages/proteus/src/keys/PublicKey.test.ts
Due: eslint --fix

chore(doc): Add context to CBOR
  packages/cbor/README.md
Due: prettier --write

Add subsystem tags for Cryptobox testcases
  packages/cryptobox/src/Cryptobox.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
Due: eslint --fix

add subsystem tags
  packages/proteus/src/message/Envelope.test.ts
Due: eslint --fix

update testmapping TSFI's
  packages/cryptobox/src/Cryptobox.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/message/Envelope.test.ts
Due: eslint --fix

chore(tests): update testmapping TSFI's (#315)
  packages/cryptobox/src/Cryptobox.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/message/Envelope.test.ts
Due: eslint --fix

Revert "chore(tests): update testmapping TSFI's (#315)"
  packages/cryptobox/src/Cryptobox.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/message/Envelope.test.ts
Due: eslint --fix

chore: Resolve linter errors
  packages/cryptobox/src/Cryptobox.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
Due: eslint --fix

chore: Resolve linter errors (#330)
  packages/cryptobox/src/Cryptobox.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
Due: eslint --fix

fix: Fix commander usage
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

chore: Publish [skip ci]
  packages/cbor/CHANGELOG.md
  packages/cbor/package.json
  packages/cryptobox-worker/CHANGELOG.md
  packages/cryptobox-worker/package.json
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
  packages/lru-cache/CHANGELOG.md
  packages/lru-cache/package.json
  packages/proteus/CHANGELOG.md
  packages/proteus/package.json
Due: prettier --write

feat: add in optional entropy data
  packages/cryptobox/src/Cryptobox.ts
Due: eslint --fix

chore: review changes
  packages/cryptobox/src/Cryptobox.ts
  packages/proteus/src/index.ts
  packages/proteus/src/util/RandomUtil.ts
Due: eslint --fix

feat(proteus,cryptobox): CSPRNG
  packages/cryptobox/src/Cryptobox.ts
  packages/proteus/src/index.ts
  packages/proteus/src/initProteus.ts
  packages/proteus/src/keys/KeyPair.ts
  packages/proteus/src/util/RandomUtil.test.ts
  packages/proteus/src/util/RandomUtil.ts
Due: eslint --fix

feat(proteus,cryptobox): CSPRNG (#300)
  packages/cryptobox/src/Cryptobox.ts
  packages/proteus/src/index.ts
  packages/proteus/src/initProteus.ts
  packages/proteus/src/keys/KeyPair.ts
  packages/proteus/src/util/RandomUtil.test.ts
  packages/proteus/src/util/RandomUtil.ts
Due: eslint --fix

chore: Publish [skip ci]
  packages/cryptobox-worker/CHANGELOG.md
  packages/cryptobox-worker/package.json
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
  packages/proteus/CHANGELOG.md
  packages/proteus/package.json
Due: prettier --write

chore: use realistic values in DecryptError test
  packages/proteus/src/errors/DecryptError.test.ts
Due: eslint --fix

chore: complete/update list of all possible proteus error codes
  packages/proteus/README.md
Due: prettier --write

chore: bump socket.io-parser from 4.0.4 to 4.0.5
  yarn.lock
Due: none

chore: bump socket.io-parser from 4.0.4 to 4.0.5 (#464)
  yarn.lock
Due: none

chore: use realistic values in DecryptError test (#462)
  packages/proteus/src/errors/DecryptError.test.ts
Due: eslint --fix

chore: complete/update list of all possible proteus error codes (#463)
  packages/proteus/README.md
Due: prettier --write

chore: Replace `uuidjs` with `uuid` WPB-7240
  packages/cryptobox/package.json
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: Replace `uuidjs` with `uuid` WPB-7240 (#710)
  packages/cryptobox/package.json
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
  yarn.lock
Due: eslint --fix, prettier --write

add generate test report action [WPB-10816]
  .github/workflows/generate_test_report.yml
Due: prettier --write

add empty unit-tests.log file
  unit-tests.log
Due: none

chore: add generate test report action [WPB-10816] (#725)
  .github/workflows/generate_test_report.yml
  unit-tests.log
Due: prettier --write

chore: set node to the correct version
  .github/workflows/generate_test_report.yml
Due: prettier --write

remove test script argument for testing
  .github/workflows/generate_test_report.yml
Due: prettier --write

remove upload to S3
  .github/workflows/generate_test_report.yml
Due: prettier --write

add verbose arguments
  .github/workflows/generate_test_report.yml
Due: prettier --write

change script
  .github/workflows/generate_test_report.yml
Due: prettier --write

add verbose parameter to yarn
  .github/workflows/generate_test_report.yml
Due: prettier --write

add coverage parameter to yarn
  .github/workflows/generate_test_report.yml
Due: prettier --write

add yarn boot
  .github/workflows/generate_test_report.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{json,md,scss,yml}
