Repository wireapp/wire-web-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{json,md,scss,yml}": ["prettier --write"]
}

docs: Add status badge
  .github/workflows/lint.yml
  .github/workflows/test_build_release.yml
  README.md
Due: prettier --write

docs: Move badges below headline
  README.md
Due: prettier --write

chore(proteus): Make KeyPair.new synchronous
  packages/proteus/src/derived/CipherKey.test.ts
  packages/proteus/src/derived/DerivedSecrets.test.ts
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/errors/DecryptError.test.ts
  packages/proteus/src/keys/IdentityKeyPair.test.ts
  packages/proteus/src/keys/IdentityKeyPair.ts
  packages/proteus/src/keys/KeyPair.test.ts
  packages/proteus/src/keys/KeyPair.ts
  packages/proteus/src/keys/PreKey.test.ts
  packages/proteus/src/keys/PreKey.ts
  packages/proteus/src/keys/PreKeyBundle.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/message/Envelope.test.ts
  packages/proteus/src/message/Message.test.ts
  packages/proteus/src/session/PreKeyStore.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/util/ArrayUtil.test.ts
  packages/proteus/src/util/KeyDerivationUtil.test.ts
  packages/proteus/src/util/MemoryUtil.test.ts
  packages/proteus/src/util/MemoryUtil.ts
  packages/proteus/src/util/WASMUtil.test.ts
Due: eslint --fix

refactor(proteus): Remove unused asynchronicity
  packages/proteus/src/keys/IdentityKeyPair.test.ts
  packages/proteus/src/keys/IdentityKeyPair.ts
  packages/proteus/src/keys/PreKey.test.ts
  packages/proteus/src/keys/PreKey.ts
  packages/proteus/src/keys/PreKeyBundle.test.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/util/MemoryUtil.test.ts
Due: eslint --fix

chore: Use "ES2017" to preserve async/await patterns
  tsconfig.build.json
Due: prettier --write

test(proteus): Add pathological case
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
Due: eslint --fix

chore: Linting
  packages/proteus/src/derived/CipherKey.test.ts
  packages/proteus/src/derived/DerivedSecrets.test.ts
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/errors/DecryptError.test.ts
  packages/proteus/src/keys/IdentityKeyPair.test.ts
  packages/proteus/src/keys/KeyPair.test.ts
  packages/proteus/src/keys/PreKeyBundle.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/message/Envelope.test.ts
  packages/proteus/src/message/Message.test.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/util/ArrayUtil.test.ts
  packages/proteus/src/util/KeyDerivationUtil.test.ts
  packages/proteus/src/util/MemoryUtil.test.ts
  packages/proteus/src/util/WASMUtil.test.ts
Due: eslint --fix

refactor(proteus): Fix linting
  packages/proteus/src/derived/CipherKey.test.ts
  packages/proteus/src/derived/DerivedSecrets.test.ts
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/errors/DecryptError.test.ts
  packages/proteus/src/keys/IdentityKeyPair.test.ts
  packages/proteus/src/keys/KeyPair.test.ts
  packages/proteus/src/keys/PreKeyBundle.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/message/Envelope.test.ts
  packages/proteus/src/message/Message.test.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/util/ArrayUtil.test.ts
  packages/proteus/src/util/KeyDerivationUtil.test.ts
  packages/proteus/src/util/MemoryUtil.test.ts
  packages/proteus/src/util/WASMUtil.test.ts
Due: eslint --fix

chore(proteus): Add performance benchmark
  packages/proteus/package.json
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix, prettier --write

refactor: Add copyright header and cleanup imports
  packages/proteus/src/keys/IdentityKey.ts
  packages/proteus/src/keys/IdentityKeyPair.ts
  packages/proteus/src/keys/KeyPair.ts
  packages/proteus/src/message/CipherMessage.ts
  packages/proteus/src/message/Envelope.ts
  packages/proteus/src/message/Message.ts
  packages/proteus/src/message/PreKeyMessage.ts
  packages/proteus/src/message/SessionTag.ts
  packages/proteus/src/session/PreKeyStore.ts
  packages/proteus/src/session/RecvChain.ts
  packages/proteus/src/session/SendChain.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/start/startBenchmark.ts
  packages/proteus/src/util/ArrayUtil.ts
Due: eslint --fix

fix: Imports
  packages/proteus/src/message/CipherMessage.ts
  packages/proteus/src/message/PreKeyMessage.ts
Due: eslint --fix

refactor(proteus): Export sodium init
  nyc.config.js
  packages/proteus/src/derived/CipherKey.test.ts
  packages/proteus/src/derived/DerivedSecrets.test.ts
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/index.ts
  packages/proteus/src/keys/IdentityKeyPair.test.ts
  packages/proteus/src/keys/PreKey.test.ts
  packages/proteus/src/keys/PreKeyBundle.test.ts
  packages/proteus/src/message/Message.test.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/start/startBenchmark.ts
  packages/proteus/src/util/KeyDerivationUtil.test.ts
  packages/proteus/src/util/WASMUtil.ts
Due: eslint --fix

refactor: Remove unnecessary async and update docs
  packages/proteus/README.md
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix, prettier --write

docs: Add SECURITY.md
  SECURITY.md
Due: prettier --write

docs: Remove explicit typing
  packages/proteus/README.md
Due: prettier --write

chore: Run benchmark with threaded session creation
  packages/proteus/src/.gitignore
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
  packages/proteus/src/worker.js
Due: eslint --fix

EOL
  packages/proteus/src/.gitignore
Due: none

refactor(cbor): Convert variables to camelCase
  packages/cbor/src/Decoder.test.ts
  packages/cbor/src/Decoder.ts
  packages/cbor/src/Encoder.test.ts
  packages/cbor/src/Encoder.ts
Due: eslint --fix

make it work
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

add copyright headers
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/worker.js
Due: eslint --fix

use proteusInit
  packages/proteus/README.md
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/util/WASMUtil.ts
Due: eslint --fix, prettier --write

revert renaming
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/util/WASMUtil.ts
Due: eslint --fix

change imports
  packages/proteus/README.md
Due: prettier --write

chore: Run benchmark with threaded session creation (#1)
  packages/proteus/README.md
  packages/proteus/src/.gitignore
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
  packages/proteus/src/worker.js
Due: eslint --fix, prettier --write

chore(proteus): v9.9.8
  packages/proteus/package.json
Due: prettier --write

refactor(proteus): Directly use encoder functions on IdentityKeyPair
  packages/proteus/src/keys/IdentityKeyPair.ts
Due: eslint --fix

chore(proteus): Don't remove worker portal when cleaning
  packages/proteus/package.json
Due: prettier --write

chore: Publish [skip ci]
  packages/cbor/CHANGELOG.md
  packages/cbor/package.json
  packages/proteus/CHANGELOG.md
  packages/proteus/package.json
Due: prettier --write

chore(proteus): Support previous API
  packages/proteus/package.json
  packages/proteus/src/session/PreKeyStore.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/util/MemoryUtil.ts
Due: eslint --fix, prettier --write

chore: Publish [skip ci]
  packages/proteus/CHANGELOG.md
  packages/proteus/package.json
Due: prettier --write

refactor(proteus): Directly use encoder functions on IdentityKeyPair (#2)
  packages/proteus/src/keys/IdentityKeyPair.ts
Due: eslint --fix

refactor(proteus): Use static functions to make objects cloneable between worker threads
  packages/proteus/src/keys/SecretKey.ts
  packages/proteus/src/session/RootKey.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

refactor(proteus): Make encode functions static
  packages/proteus/src/derived/CipherKey.ts
  packages/proteus/src/derived/MacKey.ts
  packages/proteus/src/keys/IdentityKey.ts
  packages/proteus/src/keys/IdentityKeyPair.ts
  packages/proteus/src/keys/KeyPair.ts
  packages/proteus/src/keys/PreKey.ts
  packages/proteus/src/keys/PreKeyBundle.ts
  packages/proteus/src/keys/PublicKey.ts
  packages/proteus/src/keys/SecretKey.ts
  packages/proteus/src/message/CipherMessage.ts
  packages/proteus/src/message/Envelope.ts
  packages/proteus/src/message/Message.ts
  packages/proteus/src/message/PreKeyMessage.ts
  packages/proteus/src/message/SessionTag.ts
  packages/proteus/src/session/ChainKey.ts
  packages/proteus/src/session/MessageKeys.ts
  packages/proteus/src/session/RecvChain.ts
  packages/proteus/src/session/RootKey.ts
  packages/proteus/src/session/SendChain.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
Due: eslint --fix

refactor(proteus): Make encode functions static (#3)
  packages/proteus/src/derived/CipherKey.ts
  packages/proteus/src/derived/MacKey.ts
  packages/proteus/src/keys/IdentityKey.ts
  packages/proteus/src/keys/IdentityKeyPair.ts
  packages/proteus/src/keys/KeyPair.ts
  packages/proteus/src/keys/PreKey.ts
  packages/proteus/src/keys/PreKeyBundle.ts
  packages/proteus/src/keys/PublicKey.ts
  packages/proteus/src/keys/SecretKey.ts
  packages/proteus/src/message/CipherMessage.ts
  packages/proteus/src/message/Envelope.ts
  packages/proteus/src/message/Message.ts
  packages/proteus/src/message/PreKeyMessage.ts
  packages/proteus/src/message/SessionTag.ts
  packages/proteus/src/session/ChainKey.ts
  packages/proteus/src/session/MessageKeys.ts
  packages/proteus/src/session/RecvChain.ts
  packages/proteus/src/session/RootKey.ts
  packages/proteus/src/session/SendChain.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
Due: eslint --fix

refactor(proteus): Tuple in SessionState
  packages/proteus/src/session/SessionState.ts
Due: eslint --fix

fix tests
  packages/proteus/src/keys/KeyPair.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
Due: eslint --fix

use secret key
  packages/proteus/src/keys/KeyPair.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/keys/SecretKey.ts
  packages/proteus/src/session/RootKey.ts
  packages/proteus/src/session/SessionState.ts
Due: eslint --fix

refactor(proteus): Send data to worker thread without serialisation (#4)
  packages/proteus/src/keys/KeyPair.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/keys/SecretKey.ts
  packages/proteus/src/session/RootKey.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

test(proteus): Run benchmark with or w/o parallelization
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

refactor(proteus): Don't use this in static context
  packages/proteus/src/session/Session.ts
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix
