Repository wireapp/wire-web-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(cryptobox-worker): Expose Cryptobox Web Worker (#101)
  packages/cryptobox-worker/.gitignore
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxWorker.js
  packages/cryptobox-worker/src/startNode.js
Due: eslint --fix, prettier --write

chore: Update yarn.lock
  yarn.lock
Due: none

chore: Publish [skip ci]
  packages/cryptobox-worker/CHANGELOG.md
  packages/cryptobox-worker/package.json
Due: prettier --write

chore(cryptobox-worker): Publish package in public
  packages/cryptobox-worker/package.json
Due: prettier --write

refactor(cryptobox): Use cryptobox from web worker
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.dev.js
  packages/cryptobox/webpack.config.js
Due: eslint --fix, prettier --write

feat(cryptobox-worker): Export Cryptobox Worker
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxWorkerExport.js
Due: eslint --fix, prettier --write

Use CommonJS
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.webworker.js
Due: eslint --fix, prettier --write

move to ts
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxBrowserWorker.ts
  packages/cryptobox-worker/src/CryptoboxNodeWorker.ts
  packages/cryptobox-worker/src/PublicCryptobox.ts
  packages/cryptobox-worker/src/api.ts
  packages/cryptobox-worker/src/getCryptoboxBrowserWorker.ts
  packages/cryptobox-worker/src/getCryptoboxNodeWorker.ts
  packages/cryptobox-worker/src/index.ts
  packages/cryptobox-worker/src/startNode.ts
  packages/cryptobox-worker/tsconfig.build.json
  packages/cryptobox-worker/tsconfig.json
  packages/cryptobox/package.json
  packages/cryptobox/src/CryptoboxWorker.ts
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.webworker.js
Due: eslint --fix, prettier --write

browser export
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxWorkerBrowserExport.js
  yarn.lock
Due: eslint --fix, prettier --write

package can be consumed in cryptobox
  packages/cryptobox-worker/package.json
  packages/cryptobox/src/test/start.ts
Due: eslint --fix, prettier --write

fix browser tests
  packages/cryptobox/karma.conf.ts
Due: eslint --fix

feat(cryptobox-worker): Export Cryptobox Worker (#102)
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxWorkerBrowserExport.js
  packages/cryptobox-worker/src/CryptoboxWorkerExport.js
  packages/cryptobox/karma.conf.ts
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.dev.js
  packages/cryptobox/webpack.config.js
  packages/cryptobox/webpack.config.webworker.js
  yarn.lock
Due: eslint --fix, prettier --write

Revert "chore(deps-dev): bump commander from 7.2.0 to 8.0.0 (#103)"
  packages/proteus/package.json
  yarn.lock
Due: prettier --write

Revert "chore(deps-dev): bump commander from 7.2.0 to 8.0.0 (#103)" (#112)
  packages/proteus/package.json
  yarn.lock
Due: prettier --write

rename file export
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/getCryptoboxWorker.js
Due: eslint --fix, prettier --write

add yarn start
  packages/cryptobox-worker/src/getCryptoboxWorker.browser.js
  packages/cryptobox/src/CryptoboxWorker.ts
Due: eslint --fix

add yarn start
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/startNode.js
  packages/cryptobox/package.json
Due: eslint --fix, prettier --write

remove webworker bundling
  packages/cryptobox/package.json
  packages/cryptobox/webpack.config.webworker.js
Due: eslint --fix, prettier --write

reference worker path
  packages/cryptobox-worker/src/getCryptoboxWorker.browser.js
  packages/cryptobox-worker/src/getCryptoboxWorker.js
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.dev.js
Due: eslint --fix

refactor(cryptobox): Remove Web Worker bundling (#113)
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxWorkerBrowserExport.js
  packages/cryptobox-worker/src/getCryptoboxWorker.browser.js
  packages/cryptobox-worker/src/getCryptoboxWorker.js
  packages/cryptobox-worker/src/startNode.js
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  packages/cryptobox/webpack.config.dev.js
  packages/cryptobox/webpack.config.webworker.js
Due: eslint --fix, prettier --write

refactor(cryptobox-worker): Use TypeScript
  packages/cryptobox-worker/babel.config.json
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxWorker.ts
  packages/cryptobox-worker/src/PublicCryptobox.ts
  packages/cryptobox-worker/src/getCryptoboxWorker.browser.ts
  packages/cryptobox-worker/src/getCryptoboxWorker.ts
  packages/cryptobox-worker/src/startNode.ts
  packages/cryptobox-worker/tsconfig.build.json
  packages/cryptobox-worker/tsconfig.json
  packages/cryptobox-worker/webpack.config.webworker.ts
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  yarn.lock
Due: eslint --fix, prettier --write

separate build step
  packages/cryptobox-worker/.gitignore
  packages/cryptobox-worker/package.json
Due: prettier --write

refactor(cryptobox-worker): Use TypeScript (#114)
  packages/cryptobox-worker/.gitignore
  packages/cryptobox-worker/babel.config.json
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/CryptoboxWorker.ts
  packages/cryptobox-worker/src/PublicCryptobox.ts
  packages/cryptobox-worker/src/getCryptoboxWorker.browser.ts
  packages/cryptobox-worker/src/getCryptoboxWorker.ts
  packages/cryptobox-worker/src/startNode.ts
  packages/cryptobox-worker/tsconfig.build.json
  packages/cryptobox-worker/tsconfig.json
  packages/cryptobox-worker/webpack.config.webworker.ts
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: Publish [skip ci]
  packages/cryptobox-worker/CHANGELOG.md
  packages/cryptobox-worker/package.json
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
Due: prettier --write

refactor(cryptobox,cryptobox-worker): Move browser tests to worker package
  packages/cryptobox-worker/src/startBrowser.ts
  packages/cryptobox-worker/webpack.config.js
Due: eslint --fix

refactor(cryptobox,cryptobox-worker): Move browser tests to worker package
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/startBrowser.ts
  packages/cryptobox/package.json
  yarn.lock
Due: eslint --fix, prettier --write

remove comlink
  packages/cryptobox/package.json
Due: prettier --write

it works on web
  packages/cryptobox-worker/webpack.config.webworker.js
Due: eslint --fix

it works on web
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/tsconfig.build.json
  packages/cryptobox-worker/tsconfig.json
  packages/cryptobox-worker/webpack.config.js
  packages/cryptobox-worker/webpack.config.webworker.js
Due: eslint --fix, prettier --write

it works on web
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/startBrowser.ts
  packages/cryptobox-worker/src/startNode.ts
  packages/cryptobox-worker/webpack.config.webworker.js
Due: eslint --fix, prettier --write

fix imports
  packages/cryptobox-worker/package.json
  packages/cryptobox/package.json
Due: prettier --write

fix imports
  packages/cryptobox-worker/package.json
Due: prettier --write

refactor(cryptobox,cryptobox-worker): Move browser tests to worker package (#115)
  packages/cryptobox-worker/package.json
  packages/cryptobox-worker/src/startBrowser.ts
  packages/cryptobox-worker/tsconfig.build.json
  packages/cryptobox-worker/tsconfig.json
  packages/cryptobox-worker/webpack.config.js
  packages/cryptobox-worker/webpack.config.webworker.js
  packages/cryptobox/package.json
  packages/cryptobox/src/test/start.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs: Add link to graph creator
  README.md
Due: prettier --write

chore(cryptobox-worker): Use transitive store dependency
  packages/cryptobox-worker/package.json
Due: prettier --write

fix error types
  package.json
  packages/cbor/package.json
  packages/cbor/src/Decoder.test.ts
  packages/cryptobox-worker/package.json
  packages/cryptobox/src/Cryptobox.test.node.ts
  packages/cryptobox/src/Cryptobox.test.ts
  packages/cryptobox/src/Cryptobox.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.ts
  packages/lru-cache/package.json
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/util/ArrayUtil.test.ts
Due: eslint --fix, prettier --write

fix message check
  packages/cbor/src/Decoder.test.ts
Due: eslint --fix

chore: Run dependency updates once each month
  .github/dependabot.yml
Due: prettier --write

chore(core): Add testing standards identifiers (SQPIT-738)
  packages/cryptobox/src/Cryptobox.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{json,md,scss,yml}
