Repository wireapp/wire-web-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(proteus): Use constructors instead of new()
  packages/proteus/src/keys/IdentityKeyPair.test.ts
  packages/proteus/src/keys/IdentityKeyPair.ts
  packages/proteus/src/keys/KeyPair.test.ts
  packages/proteus/src/keys/KeyPair.ts
  packages/proteus/src/keys/PreKey.test.ts
  packages/proteus/src/keys/PreKey.ts
  packages/proteus/src/keys/PreKeyBundle.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/message/Envelope.test.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/start/startBenchmark.ts
  packages/proteus/src/util/MemoryUtil.test.ts
Due: eslint --fix

refactor: Generate Sessions with static functions
  packages/proteus/src/derived/MacKey.ts
  packages/proteus/src/message/Envelope.ts
  packages/proteus/src/session/ChainKey.ts
  packages/proteus/src/session/RecvChain.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

fix tests, PR review
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

refactor(proteus): Generate Sessions with static functions (#6)
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/derived/MacKey.ts
  packages/proteus/src/message/Envelope.ts
  packages/proteus/src/session/ChainKey.ts
  packages/proteus/src/session/RecvChain.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

refactor(proteus): Use constructors instead of new() (#5)
  packages/proteus/src/keys/IdentityKeyPair.test.ts
  packages/proteus/src/keys/IdentityKeyPair.ts
  packages/proteus/src/keys/KeyPair.test.ts
  packages/proteus/src/keys/KeyPair.ts
  packages/proteus/src/keys/PreKey.test.ts
  packages/proteus/src/keys/PreKey.ts
  packages/proteus/src/keys/PreKeyBundle.test.ts
  packages/proteus/src/keys/PublicKey.test.ts
  packages/proteus/src/message/Envelope.test.ts
  packages/proteus/src/session/Session.test.ts
  packages/proteus/src/session/Session.ts
  packages/proteus/src/session/SessionState.ts
  packages/proteus/src/start/startBenchmark.ts
  packages/proteus/src/util/MemoryUtil.test.ts
Due: eslint --fix

chore: Publish [skip ci]
  packages/proteus/CHANGELOG.md
  packages/proteus/package.json
Due: prettier --write

feat: Add worker pooling
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write

use transfer list
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

close open connections
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

noUnusedLocals
  tsconfig.build.json
Due: prettier --write

rename ports
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

Update packages/proteus/src/start/startBenchmark.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

feat(proteus): Add worker thread pooling in benchmark (#7)
  packages/proteus/src/start/InitSessionWorker.ts
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

chore: Upgrade Jasmine testing framework
  package.json
  yarn.lock
Due: prettier --write

docs(cbor): Add changelog entries from wire-web-packages
  packages/cbor/CHANGELOG.md
Due: prettier --write

docs(proteus): Add changelog entries from wire-web-packages
  packages/proteus/CHANGELOG.md
Due: prettier --write

chore(proteus): Remove unused webpack config
  packages/proteus/webpack.config.js
Due: eslint --fix

feat: Add cryptobox
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/LICENSE
  packages/cryptobox/README.md
  packages/cryptobox/jasmine.json
  packages/cryptobox/package.json
  packages/cryptobox/src/Cryptobox.test.node.ts
  packages/cryptobox/src/Cryptobox.test.ts
  packages/cryptobox/src/Cryptobox.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
  packages/cryptobox/src/CryptoboxSession.ts
  packages/cryptobox/src/SerializedCryptobox.ts
  packages/cryptobox/src/error/CryptoboxError.ts
  packages/cryptobox/src/error/DecryptionError.ts
  packages/cryptobox/src/error/InvalidPreKeyFormatError.ts
  packages/cryptobox/src/error/index.ts
  packages/cryptobox/src/index.test.browser.ts
  packages/cryptobox/src/index.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.test.node.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.ts
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
  packages/cryptobox/src/store/PersistedRecord.ts
  packages/cryptobox/src/store/SerialisedRecord.ts
  packages/cryptobox/src/store/SerialisedUpdate.ts
  packages/cryptobox/src/store/index.ts
  packages/cryptobox/test/fixtures/qa-break-session/cryptobox.json
  packages/cryptobox/test/fixtures/qa-break-session/event.json
  packages/cryptobox/test/jasmine.node.json
  packages/cryptobox/tsconfig.build.json
  packages/cryptobox/tsconfig.json
  tsconfig.build.json
  yarn.lock
Due: eslint --fix, prettier --write

fix version
  packages/cryptobox/package.json
Due: prettier --write

docs
  packages/cryptobox/README.md
Due: prettier --write

fix fixtures import
  packages/cryptobox/src/Cryptobox.test.node.ts
  packages/cryptobox/test/jasmine.node.json
Due: eslint --fix, prettier --write

formatting
  packages/cryptobox/README.md
  packages/cryptobox/package.json
  packages/cryptobox/src/Cryptobox.test.node.ts
  packages/cryptobox/src/Cryptobox.test.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.test.node.ts
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
  packages/cryptobox/src/test/fixtures/qa-break-session/cryptobox.json
  packages/cryptobox/src/test/fixtures/qa-break-session/event.json
Due: eslint --fix, prettier --write

remove benchmark
  packages/cryptobox/package.json
Due: prettier --write

use require
  packages/cryptobox/src/Cryptobox.test.node.ts
Due: eslint --fix

feat(cryptobox): Add cryptobox (#8)
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/LICENSE
  packages/cryptobox/README.md
  packages/cryptobox/jasmine.json
  packages/cryptobox/package.json
  packages/cryptobox/src/Cryptobox.test.node.ts
  packages/cryptobox/src/Cryptobox.test.ts
  packages/cryptobox/src/Cryptobox.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
  packages/cryptobox/src/CryptoboxSession.ts
  packages/cryptobox/src/SerializedCryptobox.ts
  packages/cryptobox/src/error/CryptoboxError.ts
  packages/cryptobox/src/error/DecryptionError.ts
  packages/cryptobox/src/error/InvalidPreKeyFormatError.ts
  packages/cryptobox/src/error/index.ts
  packages/cryptobox/src/index.test.browser.ts
  packages/cryptobox/src/index.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.test.node.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.ts
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
  packages/cryptobox/src/store/PersistedRecord.ts
  packages/cryptobox/src/store/SerialisedRecord.ts
  packages/cryptobox/src/store/SerialisedUpdate.ts
  packages/cryptobox/src/store/index.ts
  packages/cryptobox/src/test/fixtures/qa-break-session/cryptobox.json
  packages/cryptobox/src/test/fixtures/qa-break-session/event.json
  packages/cryptobox/test/fixtures/qa-break-session/cryptobox.json
  packages/cryptobox/test/fixtures/qa-break-session/event.json
  packages/cryptobox/tsconfig.build.json
  packages/cryptobox/tsconfig.json
  tsconfig.build.json
  yarn.lock
Due: eslint --fix, prettier --write

test(cryptobox): Add setup for browser testing with IndexedDB (SQCORE-610)
  packages/cryptobox/babel.config.js
  packages/cryptobox/karma.conf.ts
  packages/cryptobox/package.json
  packages/cryptobox/webpack.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Type ConfigOptions
  packages/cryptobox/karma.conf.ts
Due: eslint --fix

chore: Don't save npm token to file in CI and new email address for Otto
  .github/workflows/test_build_release.yml
Due: prettier --write

add license header plugin
  .eslintrc.json
  nyc.config.js
  package.json
  packages/cryptobox/babel.config.js
  packages/cryptobox/karma.conf.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: Enable "Notify CI error" and depency merging
  .github/workflows/test_build_release.yml
Due: prettier --write

chore: Update dependencies
  nyc.config.js
  package.json
  packages/cryptobox/package.json
  yarn.lock
Due: eslint --fix, prettier --write

remove unused header
  .eslintrc.json
Due: prettier --write

example case
  packages/cryptobox/src/CryptoboxSession.ts
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
  packages/cryptobox/webpack.config.ts
Due: eslint --fix

show bundle errors
  packages/cryptobox/webpack.config.ts
Due: eslint --fix

Use SessionState.MAX_RECV_CHAINS
  packages/proteus/src/session/Session.test.ts
Due: eslint --fix

remove unused code
  packages/proteus/src/message/Message.ts
Due: eslint --fix

improved typings
  packages/cryptobox/webpack.config.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{json,md,scss,yml}
