Repository wireapp/wire-web-core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{json,md,scss,yml}": ["prettier --write"]
}

docs(proteus): Add performance benchmark
  packages/proteus/README.md
Due: prettier --write

test(cryptobox): Init Proteus
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
Due: eslint --fix

docs(proteus): Add performance benchmark
  packages/cryptobox/src/store/IndexedDB.test.browser.ts
  packages/proteus/README.md
Due: eslint --fix, prettier --write

chore(cryptobox): Update version
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
Due: prettier --write

chore(cryptobox): Remove circular-dependency-plugin types
  packages/cryptobox/package.json
  packages/cryptobox/webpack.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: Publish [skip ci]
  packages/cbor/CHANGELOG.md
  packages/cbor/package.json
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
  packages/proteus/CHANGELOG.md
  packages/proteus/package.json
Due: prettier --write

feat(lru-cache): Move LRU Cache to wire-web-core monorepo
  packages/lru-cache/src/LRUCache.test.ts
Due: eslint --fix

feat(lru-cache): Move LRU Cache to wire-web-core monorepo
  packages/cryptobox/package.json
  packages/lru-cache/CHANGELOG.md
  packages/lru-cache/LICENSE
  packages/lru-cache/README.md
  packages/lru-cache/jasmine.json
  packages/lru-cache/package.json
  packages/lru-cache/src/LRUCache.ts
  packages/lru-cache/tsconfig.build.json
  packages/lru-cache/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add sample
  packages/lru-cache/README.md
Due: prettier --write

feat(lru-cache): Move LRU Cache to wire-web-core monorepo (#10)
  packages/cryptobox/package.json
  packages/lru-cache/CHANGELOG.md
  packages/lru-cache/LICENSE
  packages/lru-cache/README.md
  packages/lru-cache/jasmine.json
  packages/lru-cache/package.json
  packages/lru-cache/src/LRUCache.test.ts
  packages/lru-cache/src/LRUCache.ts
  packages/lru-cache/tsconfig.build.json
  packages/lru-cache/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: Publish [skip ci]
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
  packages/lru-cache/CHANGELOG.md
  packages/lru-cache/package.json
Due: prettier --write

chore: Release with GitHub Actions
  .github/workflows/test_build_release.yml
Due: prettier --write

fix(cryptobox): Initialize Proteus on creation
  packages/cryptobox/src/Cryptobox.ts
Due: eslint --fix

chore: Publish [skip ci]
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
Due: prettier --write

chore: Use special CI release script
  .github/workflows/test_build_release.yml
  package.json
Due: prettier --write

chore: Rename release:CI to release:ci
  .github/workflows/test_build_release.yml
  package.json
Due: prettier --write

chore: Disable auto merge
  .github/workflows/test_build_release.yml
Due: prettier --write

refactor(cryptobox): Use logger only in tests
  packages/cryptobox/package.json
  packages/cryptobox/src/Cryptobox.ts
Due: eslint --fix, prettier --write

refactor(cryptobox): Let callers await Promises
  packages/cryptobox/src/Cryptobox.ts
Due: eslint --fix

chore(cryptobox): Lint files
  packages/cryptobox/src/Cryptobox.ts
Due: eslint --fix

fix(cryptobox): Move @types/karma to devDependencies, remove unused async
  packages/cryptobox/package.json
  packages/cryptobox/src/Cryptobox.ts
Due: eslint --fix, prettier --write

refactor(cryptobox): Hide internal class members
  packages/cryptobox/src/Cryptobox.ts
  packages/cryptobox/src/CryptoboxSession.test.ts
Due: eslint --fix

test: Rely on Proteus initialization from Cryptobox
  packages/cryptobox/src/Cryptobox.test.node.ts
Due: eslint --fix

refactor(cryptobox): Use essential store engine
  packages/cryptobox/package.json
  packages/cryptobox/src/Cryptobox.ts
  packages/cryptobox/src/store/CryptoboxCRUDStore.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs(proteus): Add decryption errors
  packages/proteus/README.md
Due: prettier --write

chore: Publish [skip ci]
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/package.json
  packages/proteus/CHANGELOG.md
  packages/proteus/package.json
Due: prettier --write

feat(proteus): Run benchmark with custom amount of threads
  packages/proteus/README.md
  packages/proteus/package.json
  packages/proteus/src/start/startBenchmark.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(proteus): Run benchmark with custom amount of threads
  packages/proteus/README.md
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix, prettier --write

lint
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix

feat(proteus): Run benchmark with custom amount of threads (#12)
  packages/proteus/README.md
  packages/proteus/package.json
  packages/proteus/src/start/startBenchmark.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: Ease support for importing CommonJS modules
  packages/cryptobox/src/Cryptobox.test.node.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write

implicit
  tsconfig.build.json
Due: prettier --write

ES6 Imports
  packages/proteus/src/start/startBenchmark.ts
Due: eslint --fix
